<div class="modal fade" id="updateReminderModal" tabindex="-1" aria-labelledby="updateReminderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateReminderModalLabel">Editar Fecha y Hora</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div id="updateReminderModalBody">
                <!-- update_reminder_form.html -->
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var reminderModal = document.getElementById('updateReminderModal');

        reminderModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var url = button.getAttribute('data-url');
            var modalBody = document.getElementById("updateReminderModalBody");

            modalBody.innerHTML = '<div class="p-3 text-center">Cargando...</div>';
            fetch(url)
                .then(response => {
                    if (!response.ok) throw new Error('Error en la red');
                    return response.text();
                })
                .then(html => {
                    modalBody.innerHTML = html;
                })
                .catch(error => {
                    modalBody.innerHTML = '<div class="alert alert-danger">Error al cargar el formulario.</div>';
                    console.error('Error:', error);
                });
        });
    });
</script>