:root {
    --blue-color: #0a3370;
}

html,
body {
    min-height: 100vh;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

body {
    background-color: var(--blue-color) !important;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

main {
    flex: 1;
}

.header {
    min-height: 40px;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: 10px;
    padding: 0;
}

.header .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #fff !important;
}

.truncate-2-lines {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    min-width: 200px;
    width: 400px;
    max-width: 600px;
    margin: 2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #212529;
}

.form .form-label {
    font-weight: bold;
}

.form .form-text {
    font-size: 0.9em;
    color: #6c757d;
}

.custom-formset-fields p:last-child {
    margin-bottom: 0;
}

.custom-formset-fields input,
.custom-formset-fields select {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
}

.btn {
    width: 130px;
    font-weight: bold;
}

.btn-large {
    width: 100%;
}

.btn-icon {
    width: 50px;
}

.btn-back {
    width: max-content;
}

.list-item,
.list-group-item {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.list-item:hover,
.list-group-item:hover {
    background-color: #e7f1ff;
}
