:root {
    --blue-color: #0d6efd;
}

body {
    background-color: var(--blue-color) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px;
}

.header {
    background-color: var(--blue-color) !important;
    min-height: 40px;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: 10px;
    padding: 0;
}


.header .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #fff !important;
}

.form {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    min-width: 200px;
    width: 400px;
    max-width: 600px;
    margin: 2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #212529;
}

.form .form-label {
    font-weight: bold;
}

.form .form-text {
    font-size: 0.9em;
    color: #6c757d;
}

.btn-primary {
    width: 100%;
    font-weight: bold;
}

.btn-success {
    width: 100%;
    font-weight: bold;
}