{% extends 'base.html' %}
{% block content %}

<form method="post" class="form">
    {% csrf_token %}
    <div class="mb-3">
        <label for="inputUsername" class="form-label">Nombre de usuario</label>
        <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Nombre de usuario">
    </div>
    <div class="mb-3">
        <label for="inputEmail" class="form-label">Correo electrónico</label>
        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="correo@ejemplo.com">
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Contraseña</label>
        <input type="password" name="password" class="form-control" id="inputPassword"
            placeholder="Crea una contraseña">
    </div>
    <div class="mb-3">
        <label for="inputConfirmPassword" class="form-label">Confirmar contraseña</label>
        <input type="password" name="confirm" class="form-control" id="inputConfirmPassword"
            placeholder="Repite tu contraseña">
    </div>
    {% if error %}<p class="text-danger">{{ error }}</p>{% endif %}
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Registrarse</button>
    </div>

    <p class="mt-3 text-center">¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia Sesión</a></p>
</form>

{% endblock %}