{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container d-flex flex-column">
    <h3>{% if task %}Editar Tarea{% else %}Crear Tarea{% endif %}</h3>

    <form method="post">
        {% csrf_token %}

        <div class="p-3">
            <div class="mb-3">
                {{ form.title.label_tag }}
                {{ form.title }}
                {{ form.title.errors }}
            </div>

            <div class="mb-3">
                {{ form.description.label_tag }}
                {{ form.description }}
                {{ form.description.errors }}
            </div>

            <div class="mb-1">
                {{ form.due_date.label_tag }}
                {{ form.due_date }}
                {{ form.due_date.errors }}
            </div>

            {% if task %}
            <div class="form-check form-switch p-3 pb-0">
                {{ form.completed }}
                <label class="form-check-label fw-bold" for="{{ form.completed.id_for_label }}">
                    Marcar tarea como completada
                </label>
            </div>
            {% else %}

            <div class="d-none">
                {{ form.completed }}
            </div>
            {% endif %}
        </div>

        <div class="mt-2">
            <h5>Recordatorios</h5>
            {{ formset.management_form }}

            <div id="formset-area">
                {% for f in formset %}
                {% include "_reminder_form.html" with f=f %}
                {% endfor %}
            </div>

            <script type="text/template" id="empty-form-template">
                {% include "_reminder_form.html" with f=formset.empty_form %}
            </script>

            <button type="button" id="add-form" class="btn btn-outline-primary btn-large mb-3">
                <i class="bi bi-plus-circle"></i> Añadir recordatorio
            </button>
        </div>

        <button type="submit" class="btn btn-primary">
            {% if task %}Actualizar{% else %}Crear{% endif %}
        </button>

        <a href="{% url 'home' %}" class="btn btn-secondary">
            Cancelar
        </a>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const addButton = document.getElementById("add-form");
        const formsetArea = document.getElementById("formset-area");
        const totalForms = document.querySelector('input[name$="-TOTAL_FORMS"]');
        const template = document.getElementById("empty-form-template").innerHTML;

        addButton.addEventListener("click", function () {
            const currentFormCount = parseInt(totalForms.value);
            const newFormHtml = template.replace(/__prefix__/g, currentFormCount);
            formsetArea.insertAdjacentHTML('beforeend', newFormHtml);
            totalForms.value = currentFormCount + 1;
        });
    });

    function removeForm(button) {
        const formRow = button.closest(".formset-form");
        if (!formRow) return;
        const deleteCheckbox = formRow.querySelector('input[name$="-DELETE"]');

        if (deleteCheckbox) {
            deleteCheckbox.checked = true;
            formRow.style.display = "none";

        } else {
            formRow.remove();

            const totalForms = document.querySelector('input[name$="-TOTAL_FORMS"]');
            if (totalForms) {
                const currentCount = parseInt(totalForms.value);
                totalForms.value = currentCount - 1;
            }
        }
    }
</script>

{% endblock %}